.container {
  width: 24rem;
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    flex-direction: column;

    p {
      display: -webkit-box;
      max-width: 20rem;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

.imageContainer {
  width: 24rem;
  height: 13.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  border-radius: 8px;

  img {
    width: 100%;
    min-width: 24rem;
  }
}
