.container {
  width: 24rem;
  display: flex;
  flex-direction: column;

  img {
    width: 100%;
    min-width: 24rem;
  }

  div {
    display: flex;
    flex-direction: column;

    p {
      display: -webkit-box;
      max-width: 20rem;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}
