.container {
  margin-top: 6rem;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 1280px;
  margin-top: 6rem;
  padding: 4.8rem;
  margin: 0 auto;
  background-color: white;
  gap: 2.4rem;

  @media screen and (min-width: 321px) and (max-width: 425px) {
    padding: 4.8rem 2.4rem;
    gap: 1.2rem;
  }

  @media screen and (max-width: 320px) {
    padding: 1.2rem 2.4rem;
  }
}

.info {
  display: flex;
  flex-direction: row;
  gap: 3.2rem;

  @media screen and (max-width: 760px) {
    flex-direction: column;
  }
}

.infoContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 2.4rem;
  padding-top: 2.4rem;

  strong {
    font-size: 1.8rem;
  }

  span {
    font-size: 1.6rem;
    line-height: 1.4;
  }

  @media screen and (max-width: 950px) {
    padding: 0;
  }
}

.infoDetails {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2rem;

  @media screen and (max-width: 840px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.coverContainer {
  img {
    max-width: 34rem;
    height: auto;
    border-radius: 12px;
  }

  @media screen and (max-width: 760px) {
    margin: 0 auto;
    img {
      max-width: 35rem;
    }
  }

  @media screen and (max-width: 390px) {
    img {
      max-width: 28rem;
    }
  }
}

.genderContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.2rem;

  @media screen and (max-width: 360px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.genderCards {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
}

.genderCard {
  display: flex;
  align-items: center;
  border: 1px solid grey;
  border-radius: 8px;
  padding: 0.4rem 0.8rem;
}

.seasons {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 2.4rem;
  gap: 2.4rem;

  @media screen and (max-width: 425px) {
    margin-top: 1.6rem;
  }
}

.selectContainer {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  select {
    width: 100%;
    max-width: 40rem;
    height: 3rem;
    border-radius: 8px;
    padding: 0 0.8rem;
    font-size: 1.6rem;
  }
}
