@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-smooth: antialiased;
  font-size: 62.5%;
}

:root {
  font-family: "Inter", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
  --webkit-text-size-adjust: 100%;

  color: "#EDEAF0";

  scrollbar-color: gray transparent;
  scrollbar-width: thin;
}

body,
span,
strong,
div,
p {
  font-size: 1.6rem;
}

body {
  background-color: #f0ebe3;
}
